body {
  color: #444;
  padding: 30px;
}
h1 {
  padding: 15px 0;
}
h2 {
  padding: 15px 0;
}
input {
  border: 2px solid rgb(43, 201, 56);
  margin-bottom: 5px;
  border-radius: 5px;
}
td {
  line-height: 1.3em;
}
